@import "tailwindcss";

@theme inline {
  --color-primary: #cccccc;
  --primary-hover-light: #075cd9;
  --on-primary-light: #ffffff;
  --background-light: #ffffff;
  --on-background-light: #191c1e;
  --surface-light: #ffffff;
  --Neutral-1: #000000;
  --Neutral-2: #323233;
  --Neutral-3: #646466;
  --Neutral-4: #7d7d7f;
  --Neutral-5: #afaeb2;
  --Neutral-6: #c8c7cb;
  --Neutral-7: #e1e0e5;
  --Neutral-8: #e1e0e5;
  --Neutral-9: #f5f6f8;
  --Neutral-10: #fefefe;
  --Neutral-11: #ffffff;
  --Errors: #e63946;
  --Success: #90f677;
  --primary-hover-Dark: #6ba4fa;
  --background-Dark: #040810;
  --on-background-Dark: #e6e9ef;
  --surface-Dark: #e6e9ef;
  --Neutral-Dark-1: #ffffff;
  --Neutral-Dark-2: #323233;
  --Neutral-Dark-3: #646466;
  --Neutral-Dark-4: #7d7d7f;
  --Neutral-Dark-5: #afaeb2;
  --Neutral-Dark-6: #c8c7cb;
  --Neutral-Dark-7: #e1e0e5;
  --Neutral-Dark-8: #e1e0e5;
  --Neutral-Dark-9: #f5f6f8;
  --Neutral-Dark-10: #fefefe;
  --Neutral-Dark-11: #ffffff;
}
@theme {
  --font-yekan: "YekanBakh", sans-serif;
}
